.body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1350px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
header{
    position: fixed;
    padding: 20px 0px;
    background-color:white;
    border-bottom: 1px solid rgb(202, 200, 200);
    font: weight 700px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.header_logo{
    width: 15px;
    height: 15px;
    padding-top: 5px;
    margin-left:8%;
}
.logo_support{
    margin-left:4px;
    font-size: 18px;
    padding-top: 3px;
    color: dodgerblue;
}
.header_nav{
    width: 1500px;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 40%;
    margin-right: -1200em; 
}
.header_nav a{
    text-decoration: none;
    color: rgb(104, 103, 103);
    margin-left: 3%;
}
.header_nav a:hover{
    color: dodgerblue;
}
.part1 img{
    width: 30%;
    padding: 9% 33%;
    padding-bottom: 2%;
}
.part1{
    text-align: center;
    color: rgb(61, 61, 61);
    font-size: 25px;
}
.part1 a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    background-color: dodgerblue;
    padding: 10px 25px;
    border-radius: 5px;
}
.part1 a:hover{
    background-color: black;
}